<% content_for(:head) do %>
<script>var gamePort = <%= 12330 + @user.id.to_i %>; 
var mainBoardCards = new Array();
var sideBoardCards = new Array();
<% 
count = 1
@mainBoardCards.each{|mbc| 
	mbc.uid = count
	count+=1
%>
	<%="mainBoardCards.push(eval("%> <%= raw ActiveSupport::JSON.encode(mbc) %> <%= "));" %>
<%}%>

<% 
@sideBoardCards.each{|sbc|
	sbc.uid = count
	count+=1
%>
	<%="sideBoardCards.push(eval("%> <%= raw ActiveSupport::JSON.encode(sbc) %> <%= "));" %>
<%}%>
</script>
<script src="<%= $hostServerAddress %>javascript/kinetic-v3.10.5.min.js"></script>
<script src="<%= $hostServerAddress %>javascript/deckbuilder/deckbuilder.js"></script>
<% end %>
<div class = "deckbuilderContainer" id="container"></div>
<div class = "deckbuilderContainerHolder" id="containerHolder"></div>
<form id="hiddenForm" action="#" method="POST">
<input id="hiddenInputMB" type="hidden" name="mbCards"></input>
<input id="hiddenInputSB" type="hidden" name="sbCards"></input>
<input id="hiddenInputL1" type="hidden" name="L1" value="0"></input>
<input id="hiddenInputL2" type="hidden" name="L2" value="0"></input>
<input id="hiddenInputL3" type="hidden" name="L3" value="0"></input>
<input id="hiddenInputL4" type="hidden" name="L4" value="0"></input>
<input id="hiddenInputL5" type="hidden" name="L5" value="0"></input>
</form>
