<% content_for(:head) do %>
<script>
var mainBoardCards = new Array();
var sideBoardCards = new Array();
<% 
count = 1
basicLands = [0,0,0,0,0]
@mainBoardCards.each{|mbc|
	if (mbc.idInSet>=1000)	#it's a basic land, we don't want to display it
		basicLands[mbc.idInSet-1000]+=1
		next
	end
	mbc.uid = count
	count+=1
%>
	<%="mainBoardCards.push(eval("%> <%= raw ActiveSupport::JSON.encode(mbc) %> <%= "));" %>
<%}%>

<% 
@sideBoardCards.each{|sbc|
	sbc.uid = count
	count+=1
%>
	<%="sideBoardCards.push(eval("%> <%= raw ActiveSupport::JSON.encode(sbc) %> <%= "));" %>
<%}%>
<% str2write = " basicLands = new Array(); basicLands.push("+basicLands[0].to_s+"); basicLands.push("+basicLands[1].to_s+"); basicLands.push("+basicLands[2].to_s+"); basicLands.push("+basicLands[3].to_s+"); basicLands.push("+basicLands[4].to_s+");" %>
<%= str2write %>
</script>
<script src="<%= $hostServerKineticJSLibAddress %>"></script>
<script src="<%= $hostServerAddress %>javascript/deckbuilder/deckbuilder.js"></script>
<% end %>
<div class = "deckbuilderContainer" id="container"></div>
<div class = "deckbuilderContainerHolder" id="containerHolder"></div>
<form id="hiddenForm" action="#" method="POST">
<input id="hiddenInputMB" type="hidden" name="mbCards"></input>
<input id="hiddenInputSB" type="hidden" name="sbCards"></input>
<input id="hiddenInputL1" type="hidden" name="L1" value="0"></input>
<input id="hiddenInputL2" type="hidden" name="L2" value="0"></input>
<input id="hiddenInputL3" type="hidden" name="L3" value="0"></input>
<input id="hiddenInputL4" type="hidden" name="L4" value="0"></input>
<input id="hiddenInputL5" type="hidden" name="L5" value="0"></input>
</form>
