<% content_for(:head) do %>
<script>
var exp = "<%= @exp %>";
var lang = "<%= @lang %>";
</script>
<script src="<%= $hostServerKineticJSLibAddress %>"></script>
<script src="<%= $hostServerAddress %>javascript/localStorage.js"></script>
<% end %>
<div id="wrapper">
<div>We are caching <span style="color:red; font-size:200%"><b><u><%= @exp.upcase %></u></b></span> cards in <span style="color:red;  font-size:200%"><b><u><% if (@lang == "cn") then %><%= "中文" %> <% else %> <%= "English" %> <% end %></u></b></span> for you. Please wait...</div>
<div>Progress: <b><u><span id="n" style="color:red;  font-size:200%">0</span></u></b> cards done so far</div>
<img id = "pic"></img>
</div>
<script src="<%= $hostServerAddress %>javascript/cache.js"></script>