<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Free MTG draft tool", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>

	    <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="play">
                Play <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Lobby", lobby_path %></li>
                <!--<li><%= link_to "Draft", draft_path(current_user) %></li>
                <li><%= link_to "Sealed", sealed_path(current_user) %></li>-->
                <li><%= link_to "Deck Builder", deckbuilder_path %></li>
                <li><%= link_to "Download Deck List", downloadDeckList_path %></li>
				<li><%= link_to "Cache Cards", cachecards_path %></li>
              </ul>
            </li>

            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account" uid="<%= current_user.id %>" uname="<%= current_user.name %>">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
	    <li style = "color: #999999; line-height: 19px; padding: 9px 10px 11px; text-decoration: none; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);">Welcome, <%= current_user.name %>!</li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

